/*CSS Documento*/
/* Estilos generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #21a270;
    color: #333;
}

main {
    width: 1000px;
    margin: 40px auto;
    background: #fff;
    border: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

main::after, section {
    content: "";
    display: block;
    clear: both;
}

/* Estilos del encabezado */
.title { /* Bloque de título */
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 1.8rem;
}

/* Contenedor principal */
.title__contenedor { /* Elemento contenedor del título */
    max-width: 1200px;
    margin: 0 auto;
    background: #f8fdfc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Estilos del encabezado */
.title__icons { /* Elemento de iconos */
    position: fixed;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

/* Estilos de los iconos sociales */
.title__social-icons { /* Elemento de iconos sociales */
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Estilos de los iconos sociales */
.title__social-icons li { /* Elemento de iconos sociales */
    margin: 10px 0;
    list-style: none;
}

/* Estilos de los iconos sociales */
.title__social-icons img { /* Elemento de iconos sociales */
    width: 24px;
    height: 24px;
}

/* Estilos de la navegación */
.landing { /* Bloque de navegación */
    background: #004d40;
    padding: 1rem 0;
    color: white;
}

.landing__menu { /* Elemento de menú de navegación */
    text-align: center;
    background: #e9f6f2;
    padding: 1rem 0;
}

.landing__nav { /* Elemento de navegación */
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* Estilos de la lista de navegación */
.landing__nav-list--modified { /* Modificador de lista de navegación */
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilos de los elementos de la lista de navegación */
.landing__nav-list--modified li { /* Modificador de elementos de lista de navegación */
    display: inline-block;
    margin: 0 1rem;
}

.landing__nav ul { /* Elemento de lista de navegación */
    list-style: none;
    display: inline-block;
}

.landing__nav li { /* Elemento de lista de navegación */
    display: inline-block;
    margin: 0 20px;
}

.landing__nav a { /* Elemento de enlace de navegación */
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Estilos de los enlaces de navegación */
.landing__nav-list--modified a { /* Modificador de enlaces de navegación */
    text-decoration: none;
    color: #003300;
    font-weight: bold;
}

/* Estilos de los enlaces de navegación al pasar el mouse */
.landing__nav-list--modified a:hover { /* Modificador de enlaces de navegación al pasar el mouse */
    color: #21a270;
    transition: 0.2s;
}

/* Estilos del número de teléfono */
.phone { /* bloque de teléfono */
    margin-top: 0.5rem;
    font-weight: bold;
    color: #21a270;
}

/* Estilos del contenido principal */
.contenido { /* Bloque de contenido */
    padding: 2rem;
    text-align: center;
}

.contenido__text { /* Elemento de texto del contenido */
    font-size: 25px;
    color: #004d40;
    margin-bottom: 10px;
    margin-top: 30px;
}

.contenido__text--modified { /* Modificador de texto del contenido */
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
    margin-top: 30px;
}

/* Estilos de los bloques */
.contenido__bloque-izq, .contenido__bloque-der { /* Elementos de bloques */
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 1%;
    background: white;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contendio__bloque-der { /* Elemento de bloque derecho */
    width: 50%;
    float: left;
    padding: 40px;
    background-color: white;
}

.contenido__title-der { /* Elemento de título del bloque derecho */
    font-size: 22px;
    color: #004d40;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

/* Agregar imagen bloque izquierdo */
.contenido__bloque-izq { /* Elemento de bloque izquierdo */
    width: 50%;
    float: left;
    background-image: url(assets/Imagen-dental.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 5px;
    margin: -20px;
    margin-top: 5px;
    color: white;
    position: relative;
}

/* Estilos del bloque izquierdo */
.contenido__bloque-izq h2 { /* Elemento de título del bloque izquierdo */
    font-size: 28px;
    margin-bottom: 10px;
}

/* Estilos del bloque izquierdo con efecto de superposición */
.contenido__bloque-izq span { /* Elemento de superposición del bloque izquierdo */
    color: #21a270;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

/* Estilos del bloque derecho */
.contenido__bloque-izq p { /* Elemento de párrafo del bloque izquierdo */
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
}

/* Estilos del bloque derecho */
.botones { /* Bloque de botones */
    margin-top: 20px;
}

/* Estilos de los botones */
.botones__boton-primero,
.botones__boton-segundo--modified { /* Elementos de botones */
    background-color: #21a270;
    color: white;
    border: none;
    padding: 10px 20px;
    border: none;
    margin-right: 10px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.botones__boton-segundo--modified { /* Modificador de botón secundario */
    background-color: #e9f6f2;
    color: #21a270;
}

/* Estilos de los botones al pasar el mouse */
.botones__boton-segundo--modified { /* Modificador de botón secundario al pasar el mouse */
    background-color: #004d40e0;
    color: white;
}

/* Estilos del bloque derecho */
.botones__bloque-der h3 { /* Elemento de título del bloque derecho */
    color: #21a270;
    margin-bottom: 1rem;
}

.botones__boton-primero, button { /* Elemento de botón primario */
    background-color: #21a270;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
}

/* Estilos del formulario */
.form { /* Bloque de formulario */
    display: inline;
    margin: -5px;
    margin-right: 10px;
    text-align: center;
    background: #f8fdfc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form__text { /* Elemento de texto del formulario */
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-bottom: 15px;
    font-size: 14px;
    display: inline-block;
}

.form__text[type="submit"] { /* Elemento de texto de envío del formulario */
    width: auto;
    background-color: #00a66a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
}

.form__text[type="submit"]:hover { /* Elemento de texto de envío del formulario al pasar el mouse */
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
    background: #eaf7f2;
}

.form__text, input { /* Elemento de texto del formulario */
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 20px;
    box-sizing: border-box
}

.form__text, button { /* Elemento de texto del formulario */
    margin-top: 1rem;
    width: 50%;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .contenido__bloque-izq, .contenido__bloque-der {
    width: 90%;
    display: block;
    margin: 1rem auto;
    }

    .title__icons {
    position: fixed;
    display: inline-block;
    justify-content: center;
    background: #004d40;
    }

    .title__social-icons li {
    display: inline-block;
    margin: 0 10px;
    }

    .landing__nav-list li {
    display: block;
    margin: 0.5rem 0;
    }

    .landing__menu {
    padding: 1rem;
    }

    .phone {
    font-size: 1rem;
    }
}